flow4.json
[
    {
        "id": "bf26e3c36f4cf3b9",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "185af9f32e0b37d5",
        "type": "json",
        "z": "bf26e3c36f4cf3b9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "1ee1b193957a6723",
                "1501405713dd0d2d"
            ]
        ]
    },
    {
        "id": "a0d6ad5737440f3f",
        "type": "mqtt in",
        "z": "bf26e3c36f4cf3b9",
        "name": "",
        "topic": "codigoIoT/g9/mosquitto/msg",
        "qos": "2",
        "datatype": "auto",
        "broker": "8aa2782b2776bcf3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "185af9f32e0b37d5"
            ]
        ]
    },
    {
        "id": "1ee1b193957a6723",
        "type": "function",
        "z": "bf26e3c36f4cf3b9",
        "name": "",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 160,
        "wires": [
            [
                "81f88ab1ec167b18",
                "7fe62c14c66b6225"
            ]
        ]
    },
    {
        "id": "1501405713dd0d2d",
        "type": "debug",
        "z": "bf26e3c36f4cf3b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "1cfc982ded277313",
        "type": "inject",
        "z": "bf26e3c36f4cf3b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "71e9ab78a83710a3"
            ]
        ]
    },
    {
        "id": "71e9ab78a83710a3",
        "type": "mqtt out",
        "z": "bf26e3c36f4cf3b9",
        "name": "",
        "topic": "codioIoT/g9/mosquitto/msg",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8aa2782b2776bcf3",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "81f88ab1ec167b18",
        "type": "debug",
        "z": "bf26e3c36f4cf3b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "7fe62c14c66b6225",
        "type": "ui_chart",
        "z": "bf26e3c36f4cf3b9",
        "name": "",
        "group": "da50fe7b3df3de6f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "50",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8aa2782b2776bcf3",
        "type": "mqtt-broker",
        "name": "Broker1",
        "broker": "18.157.172.72",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "da50fe7b3df3de6f",
        "type": "ui_group",
        "name": "Default",
        "tab": "33facfc027992bb9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33facfc027992bb9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]